/autom4te.cache
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/src/.deps
/src/.libs
/src/*.la
/src/*.lo
/src/*.o
/depcomp
/install-sh
/libtool
/ltmain.sh
/puTools.pc
/missing
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/metlibs-putools-dev.debhelper.log
/debian/metlibs-putools-dev.substvars
/debian/metlibs-putools-dev
/debian/files
/test/gtest/*.o
/test/gtest/lib*.a
/src/checks
/m4/libtool.m4
/m4/lt*.m4
/compile
/test-driver
/test/checks
/test/checks-*.o
/test/checks.log
/test/checks.trs
/test/test-suite.log
