/m4
/autom4te.cache
Makefile
Makefile.in
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
/configure
/src/.deps
/src/.libs
/src/*.la
/src/*.lo
/src/*.o
/depcomp
/install-sh
/libtool
/ltmain.sh
/puTools.pc
/missing
/debian/metlibs-putools-dev.debhelper.log
/debian/metlibs-putools-dev.substvars
/debian/metlibs-putools-dev
/debian/files
/test/gtest/gtest
/test/gtest/libgtest*
/src/checks
